.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  background-color: rgb(44, 62, 80);
  border: none;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
}

.link-cancel {
  background-color: transparent;
  color: rgb(252, 67, 73);
  width: 70px !important;
}

.link-cancel-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.link-cancel-container > button {
  margin-left: 0;
  margin-right: 20px;
}
