.login-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  height: 500px;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px auto;
}
